@import "~bootstrap/dist/css/bootstrap.min.css";
* {
  background-color: darkblue;
  color: whitesmoke;
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-size: 20px;
}
p {
  font-size: 32px;
}
